<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/connection/1.css" th:href="@{/css/connection/1.css}">
    <link rel="stylesheet" href="../static/css/connection/2.css" th:href="@{/css/connection/2.css}">
    <link rel="stylesheet" href="../static/css/connection/3.css" th:href="@{/css/connection/3.css}">
    <link rel="stylesheet" href="../static/css/connection/4.css" th:href="@{/css/connection/4.css}">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/common/common.css" th:href="@{/css/common/common.css}">
    <style type="text/css">
        .jobbridge-header{
            background: #292c2d !important;
            position: relative;
        }
        a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body >

<header class="jobbridge-header has-transition">
    <div class="header-box">
        <a href="/" class="logo" style="background: url('../static/img/comlogo/jobbridge.png') no-repeat" th:style="'background:url(' + @{/img/comlogo/jobbridge.png} + ') no-repeat;'"></a>
        <div class="header-right">
            <div class='user'>
                <a href='javascript:;' class='user-info'>
                        <span class='uinfo'>
                            <span class='uname'>
                                <i class="fa fa-user-o headshot"></i>
                                <b th:text="${userName}"></b>
                            </span>
                        </span>
                </a>
                <div class='user-control'>
                    <div class ='uc-menu'>
                        <ul class='uc-menu-ul'>
                            <li class='uc-menu-li'>
                                <a href='/admin/add_admin'>设置</a>
                            </li>
                            <li class='uc-menu-li'>
                                <a href='/sign_out'>退出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <ul class="main-menu">
            <span class="menu-line" hidden = "hidden"></span>
            <li class="main-menu-li">
                <a href="/">
                    <span>主页</span>
                </a>
            </li>
            <li class="main-menu-li">
                <a href="/recruit/info">
                    <span>职位信息</span>
                </a>
            </li>
            <li class="main-menu-li">
                <a href="/connection/index">
                    <span>人脉</span>
                </a>
            </li>
            <li class="main-menu-li">
                <a id = "Entrance" href="/admin/add_admin">
                    <span>入口</span>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="application-outlet ">
    <div class="authentication-outlet launchpad-cp-enabled">
        <div  class="extended">
            <div class="body">
                <div  class="ember-view"></div>

                <!---->
                <div class="neptune-grid three-column ghost-animate-in">
                    <div class="ad-banner-container is-header-zone ember-view"></div>

                    <!--查看好友的功能-->
                    <aside role="presentation" class="left-rail">
                        <div  class="sticky ember-view"
                             style="height: 190px; width: 216px; margin: 0px auto;">
                            <div class="left-rail-container">
                                <div  class="mn-connections-summary ember-view">
                                    <div class="mn-connections-summary__no-bottom-border-radius container-with-shadow ph0 pb0">
                                        <a href="https://www.linkedin.com/mynetwork/invite-connect/connections/" class="link-without-hover-state ember-view">
                                            <h3 class="mn-connections-summary__count Sans-34px-black-85% mt3" id="number"></h3>
                                        </a>

                                        <h3 aria-hidden="true"
                                            class="mn-connections-summary__title Sans-17px-black-85%-semibold-dense mt2 ph3">
                                            我的好友
                                        </h3>

                                        <a href="https://www.linkedin.com/mynetwork/invite-connect/connections/"
                                           class="mn-connections-summary__see-all Sans-15px-black-85%-semibold inline-block mt1 mb4 ph3 ember-view">
                                            查看全部
                                        </a>
                                        <!---->
                                        <a href="#" class="mn-connections-summary__abi-entry Sans-15px-black-85%-semibold ph3 pt3 pb4">拓展职场人脉</a>
                                    </div>

                                    <!----></div>
                            </div>

                        </div>
                    </aside>
                    <!--查看好友的功能-->

                    <div role="main" class="core-rail">
                        <!--管理添加好友邀请的功能-->
                        <section class="mn-invitations-preview Elevation-2dp">
                            <div class="mn-invitations-preview__header">
                                <h3 class="Sans-19px-black-70%-open">
                                    没有未回复的邀请
                                </h3>

                                <a href="https://www.linkedin.com/mynetwork/invitation-manager/" id="ember3213"
                                   class="mn-invitations-preview__view-sent Sans-15px-black-55% mlA ember-view"> 管理全部邀请
                                </a>
                            </div>
                        </section>
                        <!--管理添加好友邀请的功能-->

                        <!--添加朋友的功能-->
                        <div  class="ember-view">
                            <section  class="mn-abi-form ember-view">
                                <section role="main" class="full-width">
                                    <div  class="mn-abi-form__container container-with-shadow">
                                        <div>
                                            <form class="mn-abi-form__content--promo ph3" method="post" target="_blank">
                                                <div class="mn-abi-form__core-header-graphic mt4 inline-block" >
                                                    <div class="fa fa-book fa-3x"> </div>
                                                </div>
                                                <h2 class="mn-abi-form__header text-align-center mb4 ph3 inline-block v-align-top mt4" >添加朋友</h2>
                                                <input type="text" placeholder="朋友的名称" class="mn-abi-form__input" id="userstudent" required>
                                               <!--需要补充js文件-->
                                                <button  class="mn-abi-form__primary-btn button-secondary-medium mb2" type="submit" onclick="#">查找</button>
                                            </form>
                                            <br>
                                        </div>
                                    </div>
                                </section>


                            </section>
                        </div>
                        <!--添加朋友的功能-->

                        <!--人脉信息页面-->
                        <div  class="ember-view">
                            <section class="mn-pymk-list Elevation-2dp">
                                <h3 class="mn-pymk-list__header Sans-19px-black-70%-open">
                                    猜您认识
                                </h3>
                                <!--这里是放人脉信息的页面-->
                                <div class="mn-pymk-list__cards" id="connection-list">
                                    <div class="mn-pymk-list__card display-flex flex-column" th:each="studentName, studentNameStat : ${studentNameList}">
                                        <div  class="pymk-card ember-view">
                                            <a href="https://www.linkedin.com/in/linda-student-2771a392/"
                                               class="pt3 ember-view">
                                                <img class="lazy-image EntityPhoto-circle-7 ghost-person loaded"
                                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                                            </a>
                                            <div class="pymk-card__details pv0 ph2 text-align-center mt1">
                                                <a href="https://www.linkedin.com/in/linda-student-2771a392/"
                                                   class="pymk-card__link ember-view">
                                                    <span class="pymk-card__name pymk-card__name--card-layout block m0 Sans-15px-black-85%-semibold" th:text="${studentName}">Linda Student</span>
                                                    <span class="pymk-card__occupation pymk-card__occupation--card-layout block m0 Sans-13px-black-55%" th:text="${studentDetailList[studentNameStat.index].universityName}">Student at 四川大学</span>
                                                </a>
                                                <!---->
                                            </div>

                                            <div class="pymk-card__action-container pt1 pb3 ph0">
                                                <button  class="button-secondary-small">
                                                    <span aria-hidden="true">加为好友</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="mn-pymk-list__card display-flex flex-column">
                                        <div class="pymk-card ember-view">
                                            <a class="pt3 ember-view">
                                                <img class="lazy-image EntityPhoto-circle-7 loaded"  src="assets/img/index/bg1.jpg">
                                            </a>
                                            <div class="pymk-card__details pv0 ph2 text-align-center mt1">
                                                    <span class="pymk-card__name pymk-card__name&#45;&#45;card-layout block m0 Sans-15px-black-85%-semibold">杨云鹏</span>
                                                    <span class="pymk-card__occupation pymk-card__occupation&#45;&#45;card-layout block m0 Sans-13px-black-55%">四川大学 - 学生</span>
                                            </div>
                                            <div class="pymk-card__action-container pt1 pb3 ph0">
                                                <button class="button-secondary-small" >
                                                    <span aria-hidden="true" >加为好友</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>-->

                                </div>

                                <!----></section>
                        </div>
                        <!--人脉信息页面-->

                    </div>

                    <aside role="presentation" class="right-rail">
                        <div id="ember3291" class="sticky ember-view"
                             style="height: 376px; width: 312px; margin: 0px auto;">
                            <div class="right-rail-container">
                                <!---->
                                <section id="ember3292" class="ad-banner-container ember-view">
                                    <img src="../static/img/index/bg1.jpg" th:src="@{/img/index/bg1.jpg}" scrolling="no" title="Jobbrige"
                                         class="ad-banner" width="300" height="250">
                                </section>

                                <div id="ember3293" class="nav-footer right-triggered ember-view">
                                    <div id="ember3294" class="ember-view">
                                        <div role="contentinfo">
                                            <ul class="nav-right-rail-links">
                                                <li class="nav-right-rail-links__item inline-block ml5">
                                                    <a data-control-name="rightfooter.about" target="_blank"
                                                       href="index.html" id="rightfooter-about"
                                                       class="nav-footer__text-link Sans-13px-black-55% ember-view">
                                                        <span>关于</span>
                                                    </a>
                                                </li>
                                                <p id="rightfooter-default_copyright"
                                                   class="nav-footer__copyright Sans-13px-black-55% text-align-center clear-both">
                                                    <span class="svg-icon-wrap"></span>
                                                    Copyright &copy; 2018. JobBridge
                                                </p>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </aside>
                </div>

            </div>
        </div>

    </div>

    <!---->
    <script type="text/javascript" src="../static/js/connection/connection.js" th:src="@{/js/connection/connection.js}"></script>
    <script type="text/javascript" src="../static/js/common/jquery-1.11.0.min.js" th:src="@{/js/common/jquery-1.11.0.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("ul.main-menu").mouseleave(
                function () {
                    $("span.menu-line").attr("hidden", "hidden")
                    $("span.menu-line").css({"opacity": "0", "width": "0"});
                    $("span.menu-line").removeClass("transition");
                }
            );
            $("ul>li.main-menu-li").hover(
                function (e) {
                    e.stopPropagation();
                    $(this).addClass("hover");
                    var left = $(this).offset().left;
                    var width = $(this).width();
                    if ($("span.menu-line").attr("hidden")) {
                        $("span.menu-line").removeAttr("hidden").offset({left: left}).css({
                            "display": "inline",
                            "opacity": "1"
                        });
                        $("span.menu-line").animate({width: width}, 'fast');
                    } else {
                        $("span.menu-line").addClass("transition");
                        $("span.menu-line").css({"left": left, "width": width, "opacity": "1", "display": "inline"});
                    }
                },
                function (e) {
                    //e.stopPropagation();
                    $(this).removeClass("hover");
                    if (($("ul>li.main-menu-li").hasClass('hover'))) {
                        $("span.menu-line").css({"opacity": "0", "width": "0"});
                        $("span.menu-line").removeClass("transition");
                    }
                }
            );
        });
    </script>
</div>

</body>
</html>