<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/common/font-awesome.min.css" th:href="@{/css/common/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/common/common.css" th:href="@{/css/common/common.css}">
    <script src="../static/js/common/jquery-1.11.0.min.js" th:src="@{/js/common/jquery-1.11.0.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            /*$("ul.main-menu").mouseenter(
                function () {
                    $("span.menu-line").css("overflow","hidden");
                }
            );*/
            $("ul.main-menu").mouseleave(
                function () {
                    $("span.menu-line").attr("hidden","hidden")
                    $("span.menu-line").css({"opacity": "0", "width": "0"});
                    $("span.menu-line").removeClass("transition");
                }
            );
            $("ul>li.main-menu-li").hover(
                function(e) {
                    e.stopPropagation();
                    $(this).addClass("hover");
                    var left = $(this).offset().left;
                    var width = $(this).width();
                    if ($("span.menu-line").attr("hidden")) {
                        $("span.menu-line").removeAttr("hidden").offset({left:left}).css({"display":"inline", "opacity":"1"});
                        $("span.menu-line").animate({width:width},'fast');
                    } else {
                        $("span.menu-line").addClass("transition");
                        $("span.menu-line").css({"left": left, "width": width, "opacity": "1", "display": "inline"});
                    }
                },
                function(e) {
                    //e.stopPropagation();
                    $(this).removeClass("hover");
                    if(($("ul>li.main-menu-li").hasClass('hover'))) {
                        $("span.menu-line").css({"opacity": "0", "width": "0"});
                        $("span.menu-line").removeClass("transition");
                    }
                }
            );
            /*$("li:eq(0)").hover(
                function(e) {
                    e.stopPropagation();
                    $(this).addClass("hover");
                    var left = $(this).offset().left;
                    var width = $(this).width();
                    if ($("span.menu-line").attr("hidden")) {
                        $("span.menu-line").removeAttr("hidden").offset({left:left}).css({"display":"inline", "opacity":"1"});
                        $("span.menu-line").animate({width:width},'fast');
                    } else {
                        $("span.menu-line").addClass("transition");
                        $("span.menu-line").css({"left": left, "width": width, "opacity": "1", "display": "inline"});
                    }
                },
                function(e) {
                    //e.stopPropagation();
                    $(this).removeClass("hover");
                    if(($("li:eq(1)").is(':hover'))) {
                        $("span.menu-line").css({"opacity": "0", "width": "0"});
                        $("span.menu-line").removeClass("transition");
                    }
                }
            );
            $("li:eq(1)").hover(
                function(e) {
                    e.stopPropagation();
                    $(this).addClass("hover");
                    var left = $(this).offset().left;
                    var width = $(this).width();
                    if ($("span.menu-line").attr("hidden")) {
                        $("span.menu-line").removeAttr("hidden").offset({left:left}).css({"display":"inline", "opacity":"1"});
                        $("span.menu-line").animate({width:width},'fast');
                    } else {
                        $("span.menu-line").addClass("transition");
                        $("span.menu-line").css({"left": left, "width": width, "opacity": "1", "display": "inline"});
                    }
                },
                function(e) {
                    //e.stopPropagation();
                    $(this).removeClass("hover");
                    if(($("li:eq(0)").is(':hover'))||($("li:eq(2)").is(':hover'))) {
                        $("span.menu-line").css({"opacity": "0", "width": "0"});
                        $("span.menu-line").removeClass("transition");
                    }
                }
            );
            $("li:eq(2)").hover(
                function(e) {
                    e.stopPropagation();
                    $(this).addClass("hover");
                    var left = $(this).offset().left;
                    var width = $(this).width();
                    if ($("span.menu-line").attr("hidden")) {
                        $("span.menu-line").removeAttr("hidden").offset({left:left}).css({"display":"inline", "opacity":"1"});
                        $("span.menu-line").animate({width:width},'fast');
                    } else {
                        $("span.menu-line").addClass("transition");
                        $("span.menu-line").css({"left": left, "width": width, "opacity": "1", "display": "inline"});
                    }
                },
                function(e) {
                    $(this).removeClass("hover");
                    if(($("li:eq(1)").is(':hover'))||($("li:eq(3)").is(':hover'))) {
                        $("span.menu-line").css({"opacity": "0", "width": "0"});
                        $("span.menu-line").removeClass("transition");
                    }
                }
            );
            $("li:eq(3)").hover(
                function(e) {
                    e.stopPropagation();
                    $(this).addClass("hover");
                    var left = $(this).offset().left;
                    var width = $(this).width();
                    if ($("span.menu-line").attr("hidden")) {
                        $("span.menu-line").removeAttr("hidden").offset({left:left}).css({"display":"inline", "opacity":"1"});
                        $("span.menu-line").animate({width:width},'fast');
                    } else {
                        $("span.menu-line").addClass("transition");
                        $("span.menu-line").css({"left": left, "width": width, "opacity": "1", "display": "inline"});
                    }
                },
                function(e) {
                    //e.stopPropagation();
                    $(this).removeClass("hover");
                    if(($("li:eq(2)").is(':hover'))) {
                        $("span.menu-line").css({"opacity": "0", "width": "0"});
                        $("span.menu-line").removeClass("transition");
                    }
                }
            )*/
        });
    </script>
</head>
<body>
<header class="jobbridge-header has-transition">
    <div class="header-box">
        <a href="/" class="logo" style="background: url('../static/img/comlogo/jobbridge.png') no-repeat" th:style="'background:url(' + @{/img/comlogo/jobbridge.png} + ') no-repeat;'"></a>
        <div class="header-right">
            <div class="signIn">
                <a href="/sign_in" class="signIn-button">
                    <span>登 录</span>
                </a>
            </div>
            <!--<div class='user'>
                <a href='javascript:;' class='user-info'>
                    <span class='uinfo'>
                        <span class='uname'>
                            <i class="fa fa-user-o headshot"></i>
                            <b>loginUser</b>
                        </span>
                    </span>
                </a>
                <div class='user-control'>
                    <div class ='uc-menu'>
                        <ul class='uc-menu-ul'>
                            <li class='uc-menu-li'>
                                <a href='#'>设置</a>
                            </li>
                            <li class='uc-menu-li'>
                                <a href='#'>退出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->

        </div>

        <ul class="main-menu">
            <span class="menu-line" hidden = "hidden"></span>
            <li class="main-menu-li">
                <a href="#">
                    <span>主页</span>
                </a>
            </li>
            <li class="main-menu-li">
                <a href="#">
                    <span>职位与招聘</span>
                </a>
            </li>
            <li class="main-menu-li">
                <a href="#">
                    <span>人脉</span>
                </a>
            </li>
            <li class="main-menu-li">
                <a href="#">
                    <span>企业入口</span>
                </a>
            </li>
        </ul>
    </div>
</header>
<script th:inline="javascript">
    /*<![CDATA[*/

    var loginUser = [[${loginUser}]];
    console.log(loginUser);
    if (loginUser !== null){
        $("div.signIn").remove();
        $("div.header-right").append("<div class='user'>\n" +
            "                <a href='javascript:;' class='user-info'>\n" +
            "                    <span class='uinfo'>\n" +
            "                        <span class='uname'>\n" +
            "                            <i class=\"fa fa-user headshot\"></i>\n" +
            "                            <b>" + loginUser.userName + "</b>\n" +
            "                        </span>\n" +
            "                    </span>\n" +
            "                </a>\n" +
            "                <div class='user-control'>\n" +
            "                    <div class ='uc-menu'>\n" +
            "                        <ul class='uc-menu-ul'>\n" +
            "                            <li class='uc-menu-li'>\n" +
            "                                <a href='#'>设置</a>\n" +
            "                            </li>\n" +
            "                            <li class='uc-menu-li'>\n" +
            "                                <a href='/sign_out'>退出</a>\n" +
            "                            </li>\n" +
            "                        </ul>\n" +
            "                    </div>\n" +
            "                </div>")
    }

    /*]]>*/
</script>
</body>
</html>