<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../static/img/favicon/f1.ico" th:href="@{/img/favicon/f1.ico}">
	<link rel="stylesheet" href="../static/css/common/bootstrap.css" th:href="@{/css/common/bootstrap.css}">
	<!--	<link rel="stylesheet" href="css/main/bootstrap-theme.min.css">-->
	<link rel="stylesheet" href="../static/css/common/jquery-confirm.min.css" th:href="@{/css/common/jquery-confirm.min.css}">
	<link rel="stylesheet" href="../static/css/resume/style.css" th:href="@{/css/resume/style.css}">

	<script src="../static/js/common/jquery-1.11.0.min.js" th:src="@{/js/common/jquery-1.11.0.min.js}"></script>
	<script src="../static/js/common/bootstrap.min.js" th:src="@{/js/common/bootstrap.min.js}"></script>
	<script src="../static/js/common/jquery-confirm.min.js" th:src="@{/js/common/jquery-confirm.min.js}"></script>
	<script src="../static/js/resume/common.js" th:src="@{/js/resume/common.js}"></script>
	<title>Job Bridge</title>
	<link href="../static/css/resume/resume_edit.css" rel="stylesheet" th:href="@{/css/resume/resume_edit.css}">

	<!--自己的-->
	<link href="../static/css/resume/style2.css" rel='stylesheet' type='text/css' th:href="@{/css/resume/style2.css}">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>


	<!-- 头像-->
	<script type="text/javascript" src="../static/js/resume/imagecropper.js" th:src="@{/js/resume/imagecropper.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/resume/avatar-style.css" th:href="@{/css/resume/avatar-style.css}">

	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css"
		  th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
	<!--遮罩需要引入的文件 -->
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--字体需要引入的文件 -->
	<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
	<link rel="stylesheet" href="../static/css/common/common.css" th:href="@{/css/common/common.css}">
	<link rel="stylesheet" href="../static/css/index/index.css" th:href="@{/css/index/index.css}">
	<style type="text/css">
		.jobbridge-header{
			background: #292c2d !important;
			position: relative;
		}
	</style>


</head>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 1000);
		});
	});

</script>
<style media="screen">
	.header-container{
		padding-top: 15px;
		max-width: 90%;
		margin-right: auto;
	    margin-left: auto;
	}
	.header-h {
	  	padding-bottom: 10px;
	  	background: rgba(0, 0, 0, 0.75);
	}
</style>

<script type="text/javascript"> $youziku.load("body", "05c56270252b4af89131779e03cb871e", "ruibo"); /*$youziku.load("#id1,.class1,h1", "05c56270252b4af89131779e03cb871e", "ruibo");*/ /*．．．*/ $youziku.draw(); </script>

<body>
	<!--start-banner-->
	<div id="home">
		<header class="jobbridge-header has-transition">
			<div class="header-box">
				<a href="/" class="logo" style="background: url('../static/img/comlogo/jobbridge.png') no-repeat" th:style="'background:url(' + @{/img/comlogo/jobbridge.png} + ') no-repeat;'"></a>
				<div class="header-right">
					<div class='user'>
						<a href='javascript:;' class='user-info'>
                        <span class='uinfo'>
                            <span class='uname'>
                                <i class="fa fa-user-o headshot"></i>
                                <b th:text="${student.userName}"></b>
                            </span>
                        </span>
						</a>
						<div class='user-control'>
							<div class ='uc-menu'>
								<ul class='uc-menu-ul'>
									<li class='uc-menu-li'>
										<a href='/student/info'>设置</a>
									</li>
									<li class='uc-menu-li'>
										<a href='/sign_out'>退出</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<ul class="main-menu">
					<span class="menu-line" hidden = "hidden"></span>
					<li class="main-menu-li">
						<a href="/">
							<span>主页</span>
						</a>
					</li>
					<li class="main-menu-li">
						<a href="/recruit/info">
							<span>职位信息</span>
						</a>
					</li>
					<li class="main-menu-li">
						<a href="/connection/index">
							<span>人脉</span>
						</a>
					</li>
					<li class="main-menu-li">
						<a id = "Entrance" href="/student/info">
							<span>入口</span>
						</a>
					</li>
				</ul>
			</div>
		</header>
	</div>
	<!--end-banner-->

	<div class="opts">
		<div class="container">
			<div class="row">

				<!--
				<div class="col-xs-4 text-left">
				<button type="button" class="btn btn-default btn-youhua" data-toggle="modal" data-target=".bs-example-modal-sm2"><img src="http://www.xiaozao.org/static/imgs/v2/hj.png">简历优化</button>
				<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default resume-type active">
				<input type="radio" name="options" id="resume_cn" data-href="/resume/cn" autocomplete="off" checked> 中文
			</label>
			<label class="btn btn-default resume-type ">
			<input type="radio" name="options" id="resume_en" data-href="/resume/en" autocomplete="off"> 英文
		</label>
	</div>
	<a href="/ucenter/resume" class="btn btn-default btn-youhua" target="_blank" title="如果小伙伴已有非常满意的专业的简历，还可以上传已有简历，再投递职位噢">上传已有简历</a>
</div>
-->

				<div class="col-xs-12 text-right">
					<button id="saveResume" type="button" class="btn btn-info"><img src="../static/img/resume/save.png" th:src="@{/img/resume/save.png}">保存</button>
					<button id="html2canvas" type="button" class="btn btn-info"><img src="../static/img/resume/download.png" th:src="@{/img/resume/download.png}">下载</button>
					<a target="_blank" href="#">
						<button type="button" class="btn btn-info"><img src="../static/img/resume/help.png" th:src="@{/img/resume/help.png}">帮助</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container resume-tips">
		<div id="waring" class="text-middle" style="line-height: 60px; font-size: 16px; color: #5186bf;display:none;vertical-align: middle;">
			<span>推荐使用谷歌浏览器（Chrome）、火狐浏览器制作简历。</span><i id="waring_close" class="icomoon-close tipsgb"></i>
		</div>
	</div>
	<div id="content" class="container resume">
		<!--withstart记得删掉-->
		<div class="row content big-style ">
			<div class="col-xs-10 col-xs-offset-1 outer-blank">
				<div id="resume_error" class="alert alert-danger alert-dismissible" style="margin:30px 0;display:none;">
					<button type="button" class="close">&times;</button>
					<span></span>
				</div>

				<div class="row block">
<!-- --------------------个人信息------------------->
					<div id="per-info" class="col-xs-12 outer-item has-tips" data-tips="contact">
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<h4 class="text-center inline">
									<div contenteditable="true" class="conedit resume-uname name text-center bold w100" data-placeholder="[姓名]" data-size="100"></div>
								</h4>
								<div class="text-center inline area small-font">
									<div contenteditable="true" class="conedit address" data-placeholder="[地点]" data-size="255"></div>
									<div contenteditable="true" class="conedit phone" data-placeholder="[电话]" data-size="255"></div>
									<div contenteditable="true" class="conedit mail" data-placeholder="[邮箱地址]" data-size="255"></div>
								</div>
							</div>
							<div class="col-xs-1 user-photo has-tips" data-tips="photo">
								<a id="showModal" href="#avatarModal" data-toggle="modal"></a>
								<a onclick="document.getElementById('inputAvatar').click();">
									<img src="../static/img/resume/avatar.png"  th:src="@{/img/resume/avatar.png}" class="img-thumbnail photo-img" id="uploadCoverImg" title="推荐上传1寸大小职业照、正装照（选填）">
									<!-- 85*105px -->
									<canvas style="display:none;margin-left: -15px;height: 85px;cursor: pointer;" id="preview180" width="85px" height="105px" class="preview">
									</canvas>
								</a>

								<input id="imgFile1" type="file" name="imgFile" accept="image/jpg,image/jpeg,image/png" class="upload-item-inputfile" style="width:0;height: 0;margin: -1px auto 0">
								<div class="photo none"></div>
								<div class="btn-remove-photo"></div>

								<input type="file" id="inputAvatar" size="10" style="visibility:hidden;" onchange="selectImage(this.files)" />
								<div id="avatarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button class="close" type="button" data-dismiss="modal" aria-hidden="true">×</button>
												<h2 class="modal-title text-center">Crop your new profile picture</h2>
											</div>
											<div class="modal-body" style="">
												<div id="wrapper">
													<!-- <img id="oldAvatar" style="width: 180px; height: 180px;" src="avatar.png" /> -->

													<canvas id="cropper"></canvas>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
<!-----------    教育背景  ------------>
					<div class="col-xs-12 outer-item parent-edu has-tips edus" data-tips="edu">
						<h4 id="edu-background-title" class="title">教育背景</h4>
						<div class="row area add-blank first-blank" data-target="edu">
							<div class="col-xs-9">
								<div class="inline">
									<div contenteditable="true" class="conedit school bold w100" data-placeholder="[学校名称]" data-size="255"></div>
								</div>
								<div class="inline">
									<div contenteditable="true" class="conedit college bold " data-placeholder="[专业]" data-size="255"></div><!--斜体 italic-->
								</div>
								<div class="inline">
									<div style="float:left"><label>成绩:</label></div>
									<div style="float:left;width: 680px;" contenteditable="true" class="conedit grade small-font w100" data-placeholder="[xx]" data-size="255"></div>
								</div>
								<div class="inline">
									<div style="float:left"><label>honors:</label></div>
									<div style="width:663px;" contenteditable="true" class="conedit honors small-font w100" data-placeholder="[xx]"></div>
								</div>
								<div class="inline">
									<div style="float: left"><label>相关课程:</label></div>
									<div style="width: 646px;" contenteditable="true" class="conedit related_course small-font w100" data-placeholder="[经济学/会计/国际贸易]"></div>
								</div>
							</div>
							<div class="col-xs-3 text-right">
								<div class="inline">
									<div contenteditable="true" class="conedit city" data-placeholder="[城市]" data-size="255"></div>
									<div contenteditable="true" class="conedit province" data-placeholder="[省份/国家]" data-size="255"></div>
								</div>
								<div class="inline">
									<div contenteditable="true" class="conedit end-time " data-placeholder="[毕业时间]" data-size="32"></div>
								</div>
							</div>
							<div class="oper">
								<div class="box">
									<a class="add" href="javascript:;" data-target="edu">
										<img src="../static/img/resume/plus.png" th:src="@{/img/resume/plus.png}">
									</a>
									<a class="remove" href="javascript:;">
										<img src="../static/img/resume/minus.png" th:src="@{/img/resume/minus.png}">
									</a>
								</div>
							</div>
						</div>
					</div>
<!--   -----------------     工作经历      ------------------->
					<div class="col-xs-12 outer-item parent-works remove-item has-tips works" data-type="0" data-tips="work">
						<h4 id="work-experience-title" class="title">工作经历</h4>
						<div class="row area add-blank first-blank" data-target="work">
							<div class="col-xs-9">
								<div class="inline">
									<div contenteditable="true" class="conedit company bold w100" data-placeholder="[公司名称]" data-size="255"></div>
								</div>
								<div class="inline has-tips">
									<div contenteditable="true" class="conedit position bold " data-placeholder="[职位]" data-size="255"></div>
									<div contenteditable="true" class="conedit project bold " data-placeholder="[项目名称]" data-size="100"></div>
								</div>
								<div class="inline small-font parent-experience-wdesc">
									<div class="row area add-blank " data-target="experience-wdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_1" data-placeholder="[总结句子，说明你做了什么和你的工作的总体结果]"></div>
									</div>
									<div class="row area add-blank " data-target="experience-wdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_2" data-placeholder="[带领团队做的什么，这导致了更多的效率/时间或省钱/更高的销售]"></div>
									</div>
									<div class="row area add-blank " data-target="experience-wdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_3" data-placeholder="[分析并得出结论，关键因素是“××”，使项目可行或不可行，导致公司成功进行项目]" style="width: 687px;"></div>
									</div>
									<div class="row area add-blank " data-target="experience-wdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_4" data-placeholder="[创建了一种新的方法做××，导致效率提高/销售]"></div>
									</div>
								</div>
							</div>
							<div class="col-xs-3 text-right">
								<div class="inline">
									<div contenteditable="true" class="conedit city" data-placeholder="[城市]" data-size="255"></div>
									,
									<div contenteditable="true" class="conedit province" data-placeholder="[省份/国家]" data-size="255"></div>
								</div>
								<div class="inline">
									<div contenteditable="true" class="conedit start_time " data-placeholder="[开始时间]" data-size="32"></div>
									-
									<div contenteditable="true" class="conedit end_time " data-placeholder="[结束时间]" data-size="32"></div>
								</div>
							</div>
							<div class="oper">
								<div class="box">
									<a class="add" href="javascript:;" data-target="experience-pdesc">
										<img src="../static/img/resume/plus.png" th:src="@{/img/resume/plus.png}">
									</a>
									<a class="remove" href="javascript:;">
										<img src="../static/img/resume/minus.png" th:src="@{/img/resume/minus.png}">
									</a>
								</div>
							</div>
							<input type="hidden" class="edu-exp-id">
						</div>
						<div class="row area add-blank first-blank" data-target="work">
							<div class="col-xs-9">
								<div class="inline">
									<div contenteditable="true" class="conedit company bold w100" data-placeholder="[公司名称]" data-size="255"></div>
								</div>
								<div class="inline has-tips">
									<div contenteditable="true" class="conedit position bold " data-placeholder="[职位]" data-size="255"></div>
									<div contenteditable="true" class="conedit project bold " data-placeholder="[项目名称]" data-size="100"></div>
								</div>
								<div class="inline small-font parent-experience-wdesc">
									<div class="row area add-blank " data-target="experience-wdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_1" data-placeholder="[总结句子，说明你做了什么和你的工作的总体结果]"></div>
									</div>
									<div class="row area add-blank " data-target="experience-wdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_2" data-placeholder="[带领团队做的什么，这导致了更多的效率/时间或省钱/更高的销售]"></div>
									</div>
									<div class="row area add-blank " data-target="experience-wdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_3" data-placeholder="[分析并得出结论，关键因素是“××”，使项目可行或不可行，导致公司成功进行项目]" style="width: 687px;"></div>
									</div>
									<div class="row area add-blank " data-target="experience-wdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_4" data-placeholder="[创建了一种新的方法做××，导致效率提高/销售]"></div>
									</div>
								</div>
							</div>
							<div class="col-xs-3 text-right">
								<div class="inline">
									<div contenteditable="true" class="conedit city" data-placeholder="[城市]" data-size="255"></div>
									,
									<div contenteditable="true" class="conedit province" data-placeholder="[省份/国家]" data-size="255"></div>
								</div>
								<div class="inline">
									<div contenteditable="true" class="conedit start_time " data-placeholder="[开始时间]" data-size="32"></div>
									-
									<div contenteditable="true" class="conedit end_time " data-placeholder="[结束时间]" data-size="32"></div>
								</div>
							</div>
							<div class="oper">
								<div class="box">
									<a class="add" href="javascript:;" data-target="experience-pdesc">
										<img src="../static/img/resume/plus.png" th:src="@{/img/resume/plus.png}">
									</a>
									<a class="remove" href="javascript:;">
										<img src="../static/img/resume/minus.png" th:src="@{/img/resume/minus.png}">
									</a>
								</div>
							</div>
							<input type="hidden" class="edu-exp-id">
						</div>
					</div>
<!----          ------------领导经验-------------       -->
					<div class="col-xs-12 outer-item parent-practice remove-item has-tips leader" data-type="1" data-tips="practice">
						<h4 class="title">领导经验</h4>
						<!--社团-->
						<div class="row area add-blank first-blank organization" data-target="practice">
							<div class="col-xs-9">
								<div class="inline">
									<div contenteditable="true" class="conedit name bold " data-placeholder="[学生社团名称]" data-size="255"></div>
									<div contenteditable="true" class="conedit position bold " data-placeholder="[职位]" data-size="255"></div>
								</div>
								<div class="inline small-font parent-experience-pdesc">
									<div class="row area add-blank first-blank" data-target="experience-pdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_1" data-placeholder="[总结句子，说明你做了什么和你的工作的总体结果]"></div>
									</div>
									<div class="row area add-blank" data-target="experience-pdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_2" data-placeholder="[招募超过二十名成员的俱乐部与宣传活动]"></div>
									</div>
									<div class="row area add-blank" data-target="experience-pdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_3" data-placeholder="[有组织的会议、演讲活动和社区活动]"></div>
									</div>
								</div>
							</div>
							<div class="col-xs-3 text-right">
								<div class="inline">
									<div contenteditable="true" class="conedit start_time " data-placeholder="[开始时间]" data-size="32"></div>
									-
									<div contenteditable="true" class="conedit end_time " data-placeholder="[结束时间]" data-size="32"></div>
								</div>
							</div>
							<input type="hidden" class="work-exp-id">
							<div class="oper">
								<div class="box">
									<a class="add" href="javascript:;" data-target="practice">
										<img src="../static/img/resume/plus.png" th:src="@{/img/resume/plus.png}">
									</a>
									<a class="remove" href="javascript:;">
										<img src="../static/img/resume/minus.png" th:src="@{/img/resume/minus.png}">
									</a>
								</div>
							</div>
						</div>
						<!--俱乐部-->
						<div class="row area add-blank first-blank club" data-target="practice">
							<div class="col-xs-9">
								<div class="inline">
									<div contenteditable="true" class="conedit name bold " data-placeholder="[学生俱乐部]" data-size="255"></div>
									<div contenteditable="true" class="conedit position bold " data-placeholder="[职位]" data-size="255"></div>
								</div>
								<div class="inline small-font parent-experience-pdesc">
									<div class="row area add-blank first-blank" data-target="experience-pdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_1" data-placeholder="[总结句子，说明你做了什么和你的工作的总体结果]"></div>
									</div>
									<div class="row area add-blank" data-target="experience-pdesc">
										<div contenteditable="true" class="col-xs-11 conedit experience-desc list-item sentence_2" data-placeholder="[招募超过二十名成员的俱乐部与宣传活动]"></div>
									</div>
								</div>
							</div>
							<div class="col-xs-3 text-right">
								<div class="inline">
									<div contenteditable="true" class="conedit start_time " data-placeholder="[开始时间]" data-size="32"></div>
									-
									<div contenteditable="true" class="conedit end_time " data-placeholder="[结束时间]" data-size="32"></div>
								</div>
							</div>
							<input type="hidden" class="work-exp-id">
							<div class="oper">
								<div class="box">
									<a class="add" href="javascript:;" data-target="practice">
										<img src="../static/img/resume/plus.png" th:src="@{/img/resume/plus.png}">
									</a>
									<a class="remove" href="javascript:;">
										<img src="../static/img/resume/minus.png" th:src="@{/img/resume/minus.png}">
									</a>
								</div>
							</div>
						</div>
					</div>
<!--     -----------技能&兴趣---------------->
					<div class="col-xs-12 outer-item personal-infomation has-tips skill" data-tips="personal">
						<h4 class="title">技能 & 兴趣</h4>
						<div class="area1">
							<div class="media inline">
								<div style="float: left" class="media-left">
									<div class="lab ">语言：</div>
								</div>
								<div contenteditable="true" class="media-body conedit language" data-placeholder="英语（熟练，CET-6 640分）；普通话（母语，一甲）；法语（初级）"></div>
							</div>
							<div class="media inline">
								<div  style="float: left"  class="media-left">
									<div class="lab">计算机：</div>
								</div>
								<div contenteditable="true" class="media-body conedit computer" data-placeholder="MS Office熟练；计算机二级 Assess；PS熟练" style="width: 102px;"></div>
							</div>
							<div  class="media inline">
								<div style="float: left"class="media-left">
									<div class="lab">兴趣：</div>
								</div>
								<div contenteditable="true" class="media-body conedit hobby" data-placeholder="最好与所申请岗位相契合的内容，不要夸大" style="width: 102px;"></div>
							</div>

						</div>
					</div>
					<input type="hidden" class="resume-id">
				</div>



			</div>
		</div>
	</div>

	<div class="modal fade bs-example-modal-sm export-resume" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="false">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="text-center">选择导出的文件类型</h4>
					<div class="row">
						<div class="col-sm-6 col-xs-offset-3">
							<a href="javascript:;" id="downloadResume">
								<div class="thumbnail">
									<img src="../static/img/resume/pdf.png" alt="PDF" th:src="@{/img/resume/pdf.png}">
									<div class="caption">
										<h4>PDF</h4>
									</div>
								</div>
							</a>
							<p class="text-center"><a target="_blank" href="http://mp.weixin.qq.com/s/S_-3vN2dNMnUIXNMQo2SgQ">导出Word？</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<span id="resume_content_tips" class="resume-content-tips"></span>

	<!--start-footer-->
	<div class="jobbridge-footer">
		<div class="container">
			<div class="main-copyright">
				<p>Copyright &copy; 2018. JobBridge</p>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
		};
		*/

				/*$().UItoTop({
					easingType: 'easeOutQuart'
				});*/

			});

		</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>

	<!--end-footer-->


	<!--
<div class="my-elevator">
<div class="code text-center">
<div class="codeimg">
<img class="coding" src="..http://www.xiaozao.org/static/imgs/brochure/brochure_erwei.jpg" />
<div>扫一扫</div>
<div>在手机上看课、投职位</div>
</div>
</div>
<a class="advice" target="_blank" href="http://cn.mikecrm.com/BFcwUFk"></a>
<button id="gotop" class="totop"></button>
</div>
-->
	<script>
		M.isl = 'true' == 'true';

	</script>
	<!-- <script src="http://www.xiaozao.org/static/js/base.js?v=106"></script> -->
	<script>
		//数据埋点
		var _vds = _vds || [];
		window._vds = _vds;
		(function() {
			_vds.push(['setAccountId', '9fe99a157bba3840']);
			(function() {
				var vds = document.createElement('script');
				vds.type = 'text/javascript';
				vds.async = true;
				vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(vds, s);
			})();
		})();

	</script>
	<script>
		//百度统计
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?36a333f7223e77fe1827c502c476201c";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();

	</script>

	<script>
		window.fromType = '1';
		$(window).bind('beforeunload', function() {
			if (window.is_confirm === false)
				return '请在离开前点击保存，确认保存你的简历信息。';
		});

	</script>

</body>

<!--js for this page-->
<script type="text/javascript" src="../static/js/resume/main.js" th:src="@{/js/resume/main.js}"></script>
<script type="text/javascript" src="../static/js/resume/check.js" th:src="@{/js/resume/check.js}"></script>



<!-- 简历填写提示 jquery toast -->
<script src="../static/js/resume/jquery.toast.js" th:src="@{/js/resume/jquery.toast.js}"></script>
<link href="../static/css/resume/jquery.toast.css" rel='stylesheet' type='text/css' th:href="@{/css/resume/jquery.toast.css}">

<!-- pdfmake -->
<script type="text/javascript" src="../static/js/resume/pdfmake.min.js" th:src="@{/js/resume/pdfmake.min.js}"></script>
<script type="text/javascript" src="../static/js/resume/vfs_fonts.js" th:src="@{/js/resume/vfs_fonts.js}"></script>
<script type="text/javascript" src="../static/js/common/html2canvas.js" th:src="@{/js/common/html2canvas.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("ul.main-menu").mouseleave(
            function () {
                $("span.menu-line").attr("hidden", "hidden")
                $("span.menu-line").css({"opacity": "0", "width": "0"});
                $("span.menu-line").removeClass("transition");
            }
        );
        $("ul>li.main-menu-li").hover(
            function (e) {
                e.stopPropagation();
                $(this).addClass("hover");
                var left = $(this).offset().left;
                var width = $(this).width();
                if ($("span.menu-line").attr("hidden")) {
                    $("span.menu-line").removeAttr("hidden").offset({left: left}).css({
                        "display": "inline",
                        "opacity": "1"
                    });
                    $("span.menu-line").animate({width: width}, 'fast');
                } else {
                    $("span.menu-line").addClass("transition");
                    $("span.menu-line").css({"left": left, "width": width, "opacity": "1", "display": "inline"});
                }
            },
            function (e) {
                //e.stopPropagation();
                $(this).removeClass("hover");
                if (($("ul>li.main-menu-li").hasClass('hover'))) {
                    $("span.menu-line").css({"opacity": "0", "width": "0"});
                    $("span.menu-line").removeClass("transition");
                }
            }
        );
    });
</script>


</html>
